@import "tailwindcss";


:root {
  --main-bg-color-dark: #161616;
  --main-text-color-dark: #ffffff;
}

/* Start Global Styles */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color-dark);
  color: var(--main-text-color-dark);
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
/* End Global Styles */